{% extends "base_template.html" %}
{% block title %}{% endblock %}
{% block content %}

<p>
WebSec es un proyecto pensado para el aprendizaje del campo de la seguridad web. e trata de una aplicación web desarrollada en Flask (Python) que se ha desarrollado sin tener en cuenta las medidas de seguridad que este tipo de aplicaciones deberían tener. Al no tener ninguna medida de seguridad implementada el usuario puede intentar cualquier tipo de ataque para aprovecharse de las vulnerabilidades que la aplicación pueda tener
</p>
<p>
    La aplicación está organizada en diferentes pestañas, en cada una de las cuales se explica un tipo de vulnerabilidad web. También se exponen ejemplos de como explotar dicha vulnerabilidad y las medidas necesarias que deberían llevarse a cabo para prevenir ese tipo de ataques.
</p>
<p>
    La aplicaion ha sido desarrollada por Rodrigo Beltrán Curiel, alumno de ingeniería informática en la universidad de Valladolid como parte de su trabajo de fin de grado. El código de la aplicación se puede encontrar en el siguiente repositorio de GitHub <a href="https://github.com/rodribc10/WebSec" >https://github.com/rodribc10/WebSec </a>
</p>
{% endblock %}